.popup-form {
	padding: 1.5rem;
}

@media (max-width: 767px) {
	.hide-onmobile {
		display: none;
	}
	.popup-form {
		padding: 0.5rem;
	}
}

.popup-cover {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	background: rgba(0,0,0,0.7);
	z-index: 10;
}

.popup-cover.activ {
	visibility: visible;
}

.close-btn {
	padding: 1rem;
}

.close-btn img {
	margin-left: auto;
	width: 20px;
	height: 20px;
}

.popup-overlay {
	/*Hides pop-up when there is no "active" class*/
	visibility: hidden;
	z-index: 11;
	position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-overlay.active {
	/*displays pop-up when "active" class is present*/
	visibility: visible;
	text-align: center;
}

.transparent {
	/*background-color: rgba(255,255,255,0.5); */
	background: rgba(255,0,0,0.7);
}

.popup-content {
	/*Hides pop-up content when there is no "active" class */
	visibility: hidden;
	border: none;
	max-width: 500px;
	/*max-width: 348px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	background-color: white;
	/*z-index: 1;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
}
.center {
	margin: auto;
}

.popup-content.active {
	/*Shows pop-up content when "active" class is present */
	visibility: visible;
}

button {
	display: inline-block;
	vertical-align: middle;
	border-radius: 30px;
	margin: .20rem;
	font-size: 1rem;
	color: #666666;
	background: #ffffff;
	border: 1px solid #666666;
}

button:hover {
	border: 1px solid #666666;
	background: #666666;
	color: #ffffff;
}

.stop-scrolling { 
	height: 100%; 
	overflow: hidden; 
}

.randomizer {
	font-size: 0.75rem;
	line-height: 1.5;
}

.randon-inputs {
	width: 20%;
	border: 0 !important;
	padding: 0 !important;
	margin: 0;
	background-color: transparent;
	font-size: 0.75rem !important;
}